@import '../../variables';


.books-row {
    min-height: 100px;
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    margin-top: $sectionsMarginTop;

    .title {
        @include sectionTitle;
        margin-bottom: 20px;
    }

    .books-list {
        padding: 15px 0px;
        display: flex;
        overflow-x: scroll;

        .empty-row-text {
            font-size: 16px;
            width: 500px;
        }
    }
}