a {
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 3px 0px;

    .genIcon {
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 15px;
        }
    }

    .genreName {
        color: #0c2540;
        font-size: 17px;
    }

    .genreName:hover {
        color: #f45c03;
    }
}