@import '../../variables';

.block {
    @include sectionTitle;
    @include container;
    margin-top: $sectionsMarginTop;

    .allBooksBlock {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}