@import '../variables';

.footer {
    margin-top: $sectionsMarginTop;
    height: 100px;
    background-color: #0c2540;
    padding: 0px 40px;

    .footerContainer {
        box-sizing: border-box;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 100px;
            @include flex-center;

            .logo-img {
                width: 100px;
            }
        }


        .text {
            font-size: 13px;
            color: rgba(240, 248, 255, 0.6);
        }

        .socials {
            display: flex;
            align-items: center;

            .title {
                color: rgba(255, 255, 255, 0.687);
                margin-right: 10px;
            }

            .allIcons {
                display: flex;
                align-items: center;

                .media {
                    @include flex-center;
                    cursor: pointer;
                    width: 30px;
                    margin: 0px 3px;
                    img {
                        width: 30px;
                    }
                }

                .media:hover {
                    transform: translateY(-1px);
                }

                .media:active {
                    transform: translateY(0);
                }
            }

        }
    }
}